# Ignore build directories
/build/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile

# on the mac we dont have a .exe extension so we ignore the executable
TestProject

# Ignore generated executables and libraries
*.exe
*.out
*.app
*.log
*.a
*.lib
*.so
*.dylib

# Ignore object files
*.o
*.obj

# Ignore editor-specific files
.vscode/
.idea/
*.swp
*~

# Ignore macOS specific files
.DS_Store